body {
    background-color: orange;
}
.to-do-list {
    margin: 5rem auto 0 auto;
    width: 95%;
    max-width: 40rem;
    background-color: #ffffff;
    border-radius: 1rem;
    padding: 2rem;
}
.to-do-list h1 {
    font-size: 3rem;
    color: blue;
    font-weight: bold;
}
.to-do-form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1rem;
}
.to-do-form input {
    flex-grow: 1;
    border-radius: 5rem;
    padding: .8rem .5rem .8rem .8rem;
    background-color: rgba(112, 134, 214, 0.275);
    border: .1rem solid #000;
}
.to-do-form button {
    padding: .8rem 2rem;
    border-radius: 5rem;
    flex-grow: 1;
    background-color: orangered;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color .3s ease, color .3s ease;
}
@media (min-width: 380px) {
    .to-do-form button {        
        margin-left: -3rem;
        flex-grow: 0;
    }
}
.to-do-form button:hover {
    background-color: orange;
    color: #000;
}
.to-do-card {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: rgba(112, 134, 214, 0.275);
    margin-top: 1rem;
    padding: .5rem;
    border-radius: 1rem;
}
.to-do-card input {
    cursor: pointer;
}
.to-do-card p {
    flex-grow: 1;
    overflow-x: auto;
}
.to-do-card span {
    cursor: pointer;
    color: red;
    font-weight: bold;
}