:root {
  --main-color: rgb(19, 55, 128);
}
body {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px */
  font-family: sans-serif;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  font-size: 1.6rem;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style-type: none;
}
input,
textarea,
button {
  outline: none;
}

/*** Utilities ***/
.container {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
}